<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doubtech.universalremote"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.TRANSMIT_IR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.doubtech.universalremote.PROVIDE_BUTTONS"/>
    <permission android:name="com.doubtech.universalremote.PROVIDE_BUTTONS" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.doubtech.universalremote.Remotes"
            android:label="@string/app_name"
            android:screenOrientation="portrait" > <!-- TODO Remove screenOrientation lock and have config files specify orientation based on the orientation the remote was created in. This will cover tablets with ir blaster on the landscape side of the device -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.doubtech.universalremote.RemotePageConfiguration"
            android:label="@string/title_activity_remote_page_configuration"
            android:screenOrientation="portrait" >
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.doubtech.universalremote.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="com.doubtech.universalremote.providers.irremotes.IrRemoteProvider"
            android:authorities="com.doubtech.universalremote.providers.irremotes.LircProvider"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.doubtech.universalremote.PROVIDE_BUTTONS" >
        </provider>

        <provider
            android:name="com.doubtech.universalremote.providers.irremotes.RemoteCentralProvider"
            android:authorities="com.doubtech.universalremote.providers.irremotes.RemoteCentral"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.doubtech.universalremote.PROVIDE_BUTTONS" >
        </provider>

        <provider
            android:name="com.doubtech.universalremote.providers.irremotes.GlobalCacheProvider"
            android:authorities="com.doubtech.universalremote.providers.irremotes.GlobalCache"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.doubtech.universalremote.PROVIDE_BUTTONS" >
        </provider>
    </application>

</manifest>
