[access "refs/*"]
	owner = group user/yolanother (yolanother)
[access "refs/for/refs/*"]
	read = group user/yolanother (yolanother)
	push = group user/yolanother (yolanother)
	label-Code-Review = -2..+2 group user/yolanother (yolanother)
	label-Verified = -1..+1 group user/yolanother (yolanother)
	rebase = group user/yolanother (yolanother)
	removeReviewer = group user/yolanother (yolanother)
	submit = group user/yolanother (yolanother)
[access "refs/heads/*"]
	read = group user/yolanother (yolanother)
	create = group user/yolanother (yolanother)
	push = +force group user/yolanother (yolanother)
	pushMerge = group user/yolanother (yolanother)
[access "refs/tags/*"]
	push = +force group user/yolanother (yolanother)
	pushTag = group user/yolanother (yolanother)
	pushSignedTag = group user/yolanother (yolanother)
